{% extends 'base.html.twig' %}

{% block body %}
    <div class="home">
        <div class="container-fluid">
            <div class="home-header p-2 p-lg-5">
                <div class="row align-items-center">
                    <div class="col-12 col-xl-3 home-header-menu d-none d-xl-block">
                        <a href="{{ path('content_international') }}">
                            International
                        </a>
                        <a href="mailto:team@enpremiereligne.fr">
                            Nous contacter
                        </a>
                    </div>
                    <div class="col-12 col-xl-6 text-center">
                        <h1 class="sr-only">
                            En première ligne
                        </h1>

                        <a href="{{ path('homepage') }}">
                            <img src="{{ asset('res/logo.svg') }}" class="home-header-logo" alt="En première ligne" />
                        </a>
                    </div>
                    <div class="col-12 col-xl-3 text-center text-xl-right home-header-socials">
                        <div class="mt-3 mb-4 mt-lg-4 mb-lg-0 mt-xl-0 mb-xl-0">
                            <a href="https://www.facebook.com/en1ereligne"
                               title="Nous retrouver sur Facebook" target="_blank" rel="noreferrer noopener">
                                {{ include('_icons/facebook.html.twig') }}
                            </a>
                            <a href="https://twitter.com/en1ereligne"
                               title="Nous retrouver sur Twitter" target="_blank" rel="noreferrer noopener">
                                {{ include('_icons/twitter.html.twig') }}
                            </a>
                            <a href="https://www.linkedin.com/company/enpremiereligne/"
                               title="Nous retrouver sur LinkedIn" target="_blank" rel="noreferrer noopener">
                                {{ include('_icons/linkedin.html.twig') }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-row">
            <div class="home-row-half text-white">
                <div class="bg-primary">
                    <div class="m-4 p-3 m-lg-5 p-lg-4">
                        <a href="{{ path('process_request') }}" class="home-row-half-button text-white">
                            <div class="home-row-half-button-icon d-none d-lg-block">
                                {{ include('_icons/arrow.html.twig') }}
                            </div>
                            <div class="home-row-half-button-label">
                                Je travaille en première ligne et j'ai besoin d'aide
                            </div>
                        </a>

                        <div class="home-row-half-details mt-3 mb-4">
                            <p>
                                Vous faites partie de la première ligne de la lutte contre le virus
                                (soignants, services d’urgence, approvisionnement en énergie, nourriture, médicaments,
                                matériel, ...) ?
                            </p>
                            Demandez de l'aide à des volontaires proches de chez vous
                            pour garder vos enfants ou faire vos courses.
                        </div>

                        <div class="row no-gutters text-center">
                            <div class="col-12 col-xl-auto">
                                <a href="{{ path('process_request') }}"
                                   class="btn btn-primary btn-lg border-white border mr-xl-3">
                                    Demander de l'aide
                                </a>
                            </div>
                            <div class="col-12 col-xl-auto">
                                <a href="{{ path('content_how') }}"
                                   class="btn btn-link btn-lg text-white mt-3 mt-xl-0">
                                    Comment ça marche ?
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="home-isolated">
                    <div class="m-4 p-3 m-lg-5 p-lg-4">
                        <a href="{{ path('process_request_vulnerable') }}" class="home-row-half-button text-white">
                            <div class="home-row-half-button-icon d-none d-lg-block">
                                {{ include('_icons/arrow.html.twig') }}
                            </div>
                            <div class="home-row-half-button-label">
                                Je fais partie des populations à risque ou je connais une personne dans ce cas
                            </div>
                        </a>

                        <div class="home-row-half-details mt-3 mb-4">
                            <p>
                                Vous ou un de vos proches, de par l'âge, les antécédents médicaux ou les
                                difficultés à se déplacer, a besoin d'aide pour faire les courses et faire
                                face à l'épidémie ?
                            </p>
                            Demandez de l'aide à des volontaires proches de chez vous.
                        </div>

                        <div class="row no-gutters text-center">
                            <div class="col-12 col-xl-auto">
                                <a href="{{ path('process_request_vulnerable') }}"
                                   class="btn btn-teal btn-lg border-white border mr-xl-3">
                                    Demander de l'aide
                                </a>
                            </div>
                            <div class="col-12 col-xl-auto">
                                <a href="{{ path('content_how') }}"
                                   class="btn btn-link btn-lg text-white mt-3 mt-xl-0">
                                    Comment ça marche ?
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-row-half justify-content-start bg-info text-white">
                <div class="m-4 p-3 m-lg-5 p-lg-4">
                    <a href="{{ path('process_helper') }}" class="home-row-half-button text-white">
                        <div class="home-row-half-button-icon d-none d-lg-block">
                            {{ include('_icons/arrow.html.twig') }}
                        </div>
                        <div class="home-row-half-button-label">
                            Je peux aider les travailleurs en première ligne et les personnes
                            faisant partie des populations à risque
                        </div>
                    </a>

                    <div class="home-row-half-details mt-3 mb-4">
                        <p>
                            Vous êtes jeune et en bonne santé ?
                        </p>
                        Aidez un travailleur en première ligne ou une personne faisant partie
                        des populations à risque vivant proche de chez vous en gardant un enfant
                        ou en faisant des courses, et engagez-vous dans la lutte contre l’épidémie.
                    </div>

                    <div class="row no-gutters text-center">
                        <div class="col-12 col-xl-auto">
                            <a href="{{ path('process_helper') }}"
                               class="btn btn-info btn-lg border-white border mr-xl-3">
                                Proposer mon aide
                            </a>
                        </div>
                        <div class="col-12 col-xl-auto">
                            <a href="{{ path('content_how') }}"
                               class="btn btn-link btn-lg text-white mt-3 mt-xl-0">
                                Comment ça marche ?
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-ecosystem p-4 p-lg-5">
            <div class="home-share text-center mb-5">
                <div class="text-muted mb-2">
                    Je partage l'initiative
                </div>

                <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('homepage')|url_encode }}" title="Partager sur Facebook" target="_blank" rel="noreferrer noopener">
                    {{ include('_icons/facebook.html.twig') }}
                </a>
                <a href="https://twitter.com/intent/tweet?text={{ url('homepage') }}" title="Partager sur Twitter" target="_blank" rel="noreferrer noopener">
                    {{ include('_icons/twitter.html.twig') }}
                </a>
                <a href="https://telegram.me/share/url?url={{ url('homepage') }}" title="Partager sur Telegram" target="_blank" rel="noreferrer noopener">
                    {{ include('_icons/telegram.html.twig') }}
                </a>
                <a href="https://wa.me/?text={{ url('homepage') }}" title="Partager sur Whatsapp" target="_blank" rel="noreferrer noopener">
                    {{ include('_icons/whatsapp.html.twig') }}
                </a>
            </div>

            <div class="home-ecosystem-feedbacks mb-5">
                <h5 class="font-weight-normal mb-5 p-4">
                    Nous sommes <strong>{{ countTotalHelpers|number_format(0, ',', ' ') }} volontaires</strong>.
                    <br />
                    <strong>
                        {{ (((countTotalOwners - countUnmatchedOwners) / countTotalOwners) * 100)|number_format(2) }} %
                    </strong>
                    des demandes d'aide ont été résolues.
                </h5>

                <h5>
                    Témoignages
                </h5>

                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="p-3 p-lg-5">
                            <blockquote>
                                <div>
                                    <p>
                                        Mon mari et moi sommes infirmiers avec deux enfants en bas âge.
                                        J'ai découvert En Première Ligne hier à 22h en cherchant comment
                                        je pourrais aller faire mes courses : je me suis inscrite en quelques
                                        clics sur mon téléphone. Le lendemain lorsque je me suis réveillée à
                                        5h30, j'avais la bonne surprise d'avoir un mail de mise en contact avec
                                        Thomas, qui a pu me livrer mes courses le jour même à 13h.
                                    </p>

                                    <p>
                                        Je recommande à tous les travailleurs dans le besoin de s'inscrire,
                                        c'est gratuit et rapide !
                                    </p>

                                    <cite>- Marion, infirmière dans l'Ain</cite>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="p-3 p-lg-5">
                            <blockquote>
                                <div>
                                    <p>
                                        J'ai commencé mon confinement le vendredi 13 mars,
                                        avant la fermeture des bars et des lieux publics.
                                        Travaillant dans l'informatique, j'ai pu facilement me
                                        mettre en sécurité et arrêter toute sortie.
                                    </p>

                                    <p>
                                        Si le personnel médical est en première ligne, pour ma part,
                                        j'ai l'impression d'être dans un bunker. J'ai presque honte
                                        de la chance que j'ai.
                                    </p>

                                    <p>
                                        Je me suis inscrit sur enpremiereligne.fr car je veux aider
                                        ceux qui en ont besoin. En m'inscrivant, j'ai été mis en
                                        relation avec une personne qui est infirmière dans ma ville.
                                        Pour l'instant, elle a encore des réserves de nourriture pour
                                        plusieurs jours, mais elle sait que dans les prochains jours,
                                        quand la crise sanitaire aura pris encore plus d'ampleur, elle
                                        pourra compter sur moi.
                                    </p>

                                    <cite>- Alexandre, ingénieur dans le Nord</cite>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="home-ecosystem-assos mb-5 pb-5">
                        <div class="home-ecosystem-assos-title">
                            Nous soutenons
                        </div>

                        <a href="https://www.restosducoeur.org/devenir-benevole/" target="_blank"
                           title="Contactez votre antenne locale des Restos du Coeur">
                            <img src="{{ asset('res/assos/restosducoeur.png') }}" />
                        </a>

                        <a href="https://dondesang.efs.sante.fr/information-concernant-linfection-covid-19-coronavirus-sars-cov2-actualisation-19032020" target="_blank"
                           title="Prévoyez d’aller donner votre sang">
                            <img src="{{ asset('res/assos/efs.png') }}" />
                        </a>

                        <a href="https://covid19.reserve-civique.gouv.fr/" target="_blank"
                           title="Participez aux missions d'urgence et de proximité avec la Réserve civique">
                            <img src="{{ asset('res/assos/rc.png') }}" style="max-width: 140px;" />
                        </a>

                        <a href="https://solidarite-fde.fr/" target="_blank"
                           title="Plateforme de mise en relation pour les français bloqués à l'étranger">
                            <img src="{{ asset('res/assos/solidarite-fde.png') }}" style="max-width: 140px;" />
                        </a>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="home-ecosystem-assos mb-5 pb-5">
                        <div class="home-ecosystem-assos-title">
                            Soutenu par
                        </div>

                        <a href="https://www.le-frenchimpact.fr/nos-actualites/entraide/entraide-sanitaire" target="_blank"
                           title="En Première Ligne est labellisée Entraide sanitaire French Impact">
                            <img src="{{ asset('res/assos/frenchimpact.png') }}" style="max-height: 60px;" />
                        </a>

                        <a href="https://solidaires-handicaps.fr/action/courses-sans-contact" target="_blank"
                           title="En Première Ligne est une action de solidarité">
                            <img src="{{ asset('res/assos/solidarite-handicap.png') }}" style="max-height: 60px;" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="home-ecosystem-medias">
                <div class="home-ecosystem-assos-title">
                    Ils parlent de vous !
                </div>

                <a href="https://www.20minutes.fr/sante/2742831-20200318-coronavirus-logements-courses-gardes-solidarite-envers-soignants-organise" target="_blank">
                    <img src="{{ asset('res/medias/20minutes.png') }}" />
                </a>

                <a href="https://twitter.com/brutofficiel/status/1240281822401105920" target="_blank">
                    <img src="{{ asset('res/medias/brut.png') }}" />
                </a>

                <a href="https://www.europe1.fr/societe/coronavirus-4-sites-internet-pour-faciliter-la-solidarite-entre-voisins-3955966" target="_blank">
                    <img src="{{ asset('res/medias/europe1.png') }}" />
                </a>

                <a href="https://www.lefigaro.fr/flash-actu/courses-garde-d-enfants-face-au-coronavirus-les-initiatives-solidaires-se-multiplient-sur-internet-20200315" target="_blank">
                    <img src="{{ asset('res/medias/figaro.png') }}" />
                </a>

                <a href="https://www.francebleu.fr/infos/societe/coronavirus-des-initiatives-pour-aider-les-soignants-1584455310" target="_blank">
                    <img src="{{ asset('res/medias/francebleu.png') }}" />
                </a>

                <a href="https://www.lci.fr/population/coronavirus-trois-solutions-pour-aider-le-personnel-de-sante-mobilise-2148129.html" target="_blank">
                    <img src="{{ asset('res/medias/lci.png') }}" />
                </a>

                <a href="https://www.lemonde.fr/planete/article/2020/03/19/coronavirus-comment-pouvez-vous-aider-tout-en-etant-confine_6033695_3244.html" target="_blank">
                    <img src="{{ asset('res/medias/lemonde.png') }}" />
                </a>

                <a href="https://twitter.com/en1ereligne/status/1243523242079502337" target="_blank">
                    <img src="{{ asset('res/medias/magdelasante.png') }}" />
                </a>

                <a href="https://www.ouest-france.fr/leditiondusoir/data/82936/reader/reader.html#!preferred/1/package/82936/pub/117254/page/5" target="_blank">
                    <img src="{{ asset('res/medias/ouest-france.png') }}" />
                </a>

                <a href="https://www.rtl.fr/actu/debats-societe/confinement-quand-des-chaines-de-solidarites-se-mettent-en-place-7800306019" target="_blank">
                    <img src="{{ asset('res/medias/rtl.png') }}" />
                </a>
            </div>
        </div>

        {{ include('_include/footer.html.twig') }}
    </div>
{% endblock %}
