{% extends 'base.html.twig' %}

{% block body_class 'full-height' %}

{% block body %}
    <div class="home">
        <div class="home-header pt-4 pl-4 pr-4 pb-3 pt-lg-5 pl-lg-5 pr-lg-5 pb-lg-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-11 col-lg-10 col-xl-9">
                        <h1 class="sr-only">
                            En première ligne
                        </h1>

                        <img src="{{ asset('res/logo.svg') }}" class="home-header-logo" alt="En première ligne" />

                        <h4 class="font-weight-normal home-header-pitch mt-4">
                            Face à l’épidémie de Covid-19, certains d'entre nous sont en première ligne de la
                            lutte pour sauver des vies et assurer les fonctions vitales de notre pays.
                            <br />
                            <strong>Soyons présents pour eux et leurs familles.</strong>
                        </h4>

                        <div class="home-header-share mt-5">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-lg-auto text-center mb-2">
                                    Je partage l'initiative
                                </div>
                                <div class="col-lg-auto text-center mb-2">
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('homepage')|url_encode }}" title="Partager sur Facebook" target="_blank" rel="noreferrer noopener">
                                        {{ include('_icons/facebook.html.twig') }}
                                    </a>
                                    <a href="https://twitter.com/intent/tweet?text={{ url('homepage') }}" title="Partager sur Twitter" target="_blank" rel="noreferrer noopener">
                                        {{ include('_icons/twitter.html.twig') }}
                                    </a>
                                    <a href="https://telegram.me/share/url?url={{ url('homepage') }}" title="Partager sur Telegram" target="_blank" rel="noreferrer noopener">
                                        {{ include('_icons/telegram.html.twig') }}
                                    </a>
                                    <a href="https://wa.me/?text={{ url('homepage') }}" title="Partager sur Whatsapp" target="_blank" rel="noreferrer noopener">
                                        {{ include('_icons/whatsapp.html.twig') }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-row">
            <div class="home-row-half bg-primary text-white">
                <div class="m-4 p-3 m-lg-5 p-lg-5">
                    <a href="{{ path('process_request') }}" class="home-row-half-button text-white">
                        <div class="home-row-half-button-icon d-none d-lg-block">
                            {{ include('_icons/arrow.html.twig') }}
                        </div>
                        <div class="home-row-half-button-label">
                            Je travaille en première ligne et j'ai besoin d'aide
                        </div>
                    </a>

                    <div class="home-row-half-details mt-3 mb-4">
                        <p>
                            Vous faites partie de la première ligne de la lutte contre le virus
                            (soignants, services d’urgence, approvisionnement en énergie, nourriture, médicaments,
                            matériel, ...) ?
                        </p>
                        Demandez de l'aide à des volontaires proches de chez vous
                        pour garder vos enfants ou faire vos courses.
                    </div>

                    <div class="row no-gutters text-center">
                        <div class="col-12 col-xl-auto">
                            <a href="{{ path('process_request') }}"
                               class="btn btn-primary btn-lg border-white border mr-xl-3">
                                Demander de l'aide
                            </a>
                        </div>
                        <div class="col-12 col-xl-auto">
                            <a href="{{ path('content_how') }}"
                               class="btn btn-link btn-lg text-white mt-3 mt-xl-0">
                                Comment ca marche ?
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-row-half bg-info text-white">
                <div class="m-4 p-3 m-lg-5 p-lg-5">
                    <a href="{{ path('process_helper') }}" class="home-row-half-button text-white">
                        <div class="home-row-half-button-icon d-none d-lg-block">
                            {{ include('_icons/arrow.html.twig') }}
                        </div>
                        <div class="home-row-half-button-label">
                            Je peux aider les travailleurs mobilisés en première ligne
                        </div>
                    </a>

                    <div class="home-row-half-details mt-3 mb-4">
                        <p>
                            Vous êtes jeune et en bonne santé ?
                        </p>
                        Aidez un travailleur en première ligne vivant proche de chez vous en
                        gardant un enfant ou en faisant des courses, et engagez-vous dans la
                        lutte contre l’épidémie.
                    </div>

                    <div class="row no-gutters text-center">
                        <div class="col-12 col-xl-auto">
                            <a href="{{ path('process_helper') }}"
                               class="btn btn-info btn-lg border-white border mr-xl-3">
                                Proposer mon aide
                            </a>
                        </div>
                        <div class="col-12 col-xl-auto">
                            <a href="{{ path('content_how') }}"
                               class="btn btn-link btn-lg text-white mt-3 mt-xl-0">
                                Comment ça marche ?
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ include('_include/footer.html.twig') }}
    </div>
{% endblock %}
