{% extends 'base.html.twig' %}

{% block body %}
    <div class="home">
        <div class="container-fluid">
            <div class="home-header p-2 p-lg-5">
                <div class="row align-items-center">
                    <div class="col-12 col-xl-3 home-header-menu d-none d-xl-block">
                        <a href="{{ path('content_international') }}">
                            {% trans %}header.international{% endtrans %}
                        </a>
                        <a href="mailto:{{ team_email }}">
                            {% trans %}header.contact_us{% endtrans %}
                        </a>
                    </div>
                    <div class="col-12 col-xl-6 text-center">
                        <h1 class="sr-only">
                            {% trans %}site.name{% endtrans %}
                        </h1>

                        <a href="{{ path('homepage') }}">
                            <img src="{{ asset(localized_assets_folder ~ 'res/logo.svg') }}" class="home-header-logo" alt="{% trans %}site.name{% endtrans %}" />
                        </a>
                    </div>
                    <div class="col-12 col-xl-3 text-center text-xl-right home-header-socials">
                        <div class="mt-3 mb-4 mt-lg-4 mb-lg-0 mt-xl-0 mb-xl-0">
                            {% include '_include/' ~ app.request.locale ~ '/homepage_social.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-row">
            <div class="home-row-half text-white">
                <div class="bg-primary">
                    <div class="m-4 p-3 m-lg-5 p-lg-4">
                        <a href="{{ path('process_request') }}" class="home-row-half-button text-white">
                            <div class="home-row-half-button-icon d-none d-lg-block">
                                {{ include('_icons/arrow.html.twig') }}
                            </div>
                            <div class="home-row-half-button-label">
                                {% trans %}home.work-title{% endtrans %}
                            </div>
                        </a>

                        <div class="home-row-half-details mt-3 mb-4">
                            <p>
                                {% trans %}home.work-intro{% endtrans %}
                            </p>
                            {% trans %}home.work-request{% endtrans %}
                        </div>

                        <div class="row no-gutters text-center">
                            <div class="col-12 col-xl-auto">
                                <a href="{{ path('process_request') }}"
                                   class="btn btn-primary btn-lg border-white border mr-xl-3">
                                    {% trans %}label.request-help{% endtrans %}
                                </a>
                            </div>
                            <div class="col-12 col-xl-auto">
                                <a href="{{ path('content_how') }}"
                                   class="btn btn-link btn-lg text-white mt-3 mt-xl-0">
                                    {% trans %}label.how-work{% endtrans %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="home-isolated">
                    <div class="m-4 p-3 m-lg-5 p-lg-4">
                        <a href="{{ path('process_request_vulnerable') }}" class="home-row-half-button text-white">
                            <div class="home-row-half-button-icon d-none d-lg-block">
                                {{ include('_icons/arrow.html.twig') }}
                            </div>
                            <div class="home-row-half-button-label">
                                {% trans %}home.risk-title{% endtrans %}
                            </div>
                        </a>

                        <div class="home-row-half-details mt-3 mb-4">
                            <p>
                                {% trans %}home.risk-intro{% endtrans %}
                            </p>
                            {% trans %}home.risk-request{% endtrans %}
                        </div>

                        <div class="row no-gutters text-center">
                            <div class="col-12 col-xl-auto">
                                <a href="{{ path('process_request_vulnerable') }}"
                                   class="btn btn-teal btn-lg border-white border mr-xl-3">
                                    {% trans %}label.request-help{% endtrans %}
                                </a>
                            </div>
                            <div class="col-12 col-xl-auto">
                                <a href="{{ path('content_how') }}"
                                   class="btn btn-link btn-lg text-white mt-3 mt-xl-0">
                                    {% trans %}label.how-work{% endtrans %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-row-half justify-content-start bg-info text-white">
                <div class="m-4 p-3 m-lg-5 p-lg-4">
                    <a href="{{ path('process_helper') }}" class="home-row-half-button text-white">
                        <div class="home-row-half-button-icon d-none d-lg-block">
                            {{ include('_icons/arrow.html.twig') }}
                        </div>
                        <div class="home-row-half-button-label">
                            {% trans %}home.title{% endtrans %}
                        </div>
                    </a>

                    <div class="home-row-half-details mt-3 mb-4">
                        <p>
                            {% trans %}home.young-healthy{% endtrans %}
                        </p>
                        {% trans %}home.intro{% endtrans %}
                    </div>

                    <div class="row no-gutters text-center">
                        <div class="col-12 col-xl-auto">
                            <a href="{{ path('process_helper') }}"
                               class="btn btn-info btn-lg border-white border mr-xl-3">
                                {% trans %}label.offer-help{% endtrans %}
                            </a>
                        </div>
                        {% if app.request.locale == 'fr_FR' %}
                        <div class="col-12 col-xl-auto">
                            <a href="#invite"
                               class="btn btn-info btn-lg border-white border mr-xl-3 mt-3 mt-xl-0">
                                {{ 'social.invite-button'|trans }}
                            </a>
                        </div>
                        {% endif %}
                        <div class="col-12 col-xl-auto">
                            <a href="{{ path('content_how') }}"
                               class="btn btn-link btn-lg text-white mt-3 mt-xl-0">
                                {% trans %}label.how-work{% endtrans %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-ecosystem p-4 p-lg-5" id="invite">
            <div class="home-share text-center mb-5">
                <div class="text-muted mb-2">
                    {% trans %}social.share-intro{% endtrans %}
                </div>

                <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('homepage')|url_encode }}" title="{% trans %}social.share-facebook{% endtrans %}" target="_blank" rel="noreferrer noopener">
                    {{ include('_icons/facebook.html.twig') }}
                </a>
                <a href="https://twitter.com/intent/tweet?text={{ url('homepage') }}" title="{% trans %}social.share-twitter{% endtrans %}" target="_blank" rel="noreferrer noopener">
                    {{ include('_icons/twitter.html.twig') }}
                </a>
                <a href="https://telegram.me/share/url?url={{ url('homepage') }}" title="{% trans %}social.share-facebook{% endtrans %}" target="_blank" rel="noreferrer noopener">
                    {{ include('_icons/telegram.html.twig') }}
                </a>
                <a href="https://wa.me/?text={{ url('homepage') }}" title="{% trans %}social.share-facebook{% endtrans %}" target="_blank" rel="noreferrer noopener">
                    {{ include('_icons/whatsapp.html.twig') }}
                </a>
            </div>

            {% if app.request.locale == 'fr_FR' %}
                <div class="home-invite text-center mb-5">
                    <div class="text-muted text-uppercase mb-2">
                        {{ 'social.invite-intro'|trans }}
                    </div>

                    <div class="mb-3">
                        <small>
                            {{ 'social.invite-desc'|trans }}
                        </small>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-12 col-md-12 col-lg-10 col-xl-8">
                            <form method="post" action="{{ path('invite') }}">
                                <div class="form-row">
                                    <div class="col-12 col-md-3 mb-2">
                                        {{ form_widget(inviteForm.firstName, {'attr': {'placeholder': 'social.invite-firstname'|trans}}) }}
                                    </div>
                                    <div class="col-12 col-md-4 mb-2">
                                        {{ form_widget(inviteForm.email, {'attr': {'placeholder': 'social.invite-email'|trans}}) }}
                                    </div>
                                    <div class="col-12 col-md-3 mb-2">
                                        {{ form_widget(inviteForm.zipCode, {'attr': {'placeholder': 'social.invite-zipcode'|trans}}) }}
                                    </div>
                                    <div class="col-12 col-md-2 mb-2 text-left">
                                        <button type="submit" class="btn btn-outline-primary btn-block">
                                            <div class="d-inline-flex align-items-center">
                                                <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M464 64H48C21.5 64 0 85.5 0 112v288c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM48 96h416c8.8 0 16 7.2 16 16v41.4c-21.9 18.5-53.2 44-150.6 121.3-16.9 13.4-50.2 45.7-73.4 45.3-23.2.4-56.6-31.9-73.4-45.3C85.2 197.4 53.9 171.9 32 153.4V112c0-8.8 7.2-16 16-16zm416 320H48c-8.8 0-16-7.2-16-16V195c22.8 18.7 58.8 47.6 130.7 104.7 20.5 16.4 56.7 52.5 93.3 52.3 36.4.3 72.3-35.5 93.3-52.3 71.9-57.1 107.9-86 130.7-104.7v205c0 8.8-7.2 16-16 16z"></path></svg>
                                                <span class="ml-2">{{ 'social.invite-submit'|trans }}</span>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="">
                        <small class="text-muted">{{ 'social.invite-data'|trans }}</small>
                    </div>
                </div>
            {% endif %}

            <div class="home-ecosystem-feedbacks mb-5">
                <h5 class="font-weight-normal mb-5 p-4">
                    {% trans with {'count' : countTotalHelpers|number_format(0, ',', ' ') } %}home.number-volunteers{% endtrans %}
                    <br />
                    {% trans with {'percentage' : (((countTotalOwners - countUnmatchedOwners) / countTotalOwners) * 100)|number_format(2) } %}home.percentage-resolved{% endtrans %}
                </h5>

                <h5>
                    {% trans %}label.testimonials{% endtrans %}
                </h5>

                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="p-3 p-lg-5">
                            <blockquote>
                                <div>
                                    <p>
                                        {% trans %}home.testimonial-one{% endtrans %}
                                    </p>

                                    <cite>{% trans %}home.testimonial-one-from{% endtrans %}</cite>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="p-3 p-lg-5">
                            <blockquote>
                                <div>
                                    <p>
                                        {% trans %}home.testimonial-two{% endtrans %}
                                    </p>

                                    <cite>{% trans %}home.testimonial-two-from{% endtrans %}</cite>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            {% include '_include/' ~ app.request.locale ~ '/homepage_footer.html.twig' %}
        </div>

        {{ include('_include/footer.html.twig') }}
    </div>
{% endblock %}
