{% extends 'page_base.html.twig' %}

{% block title 'social.invite-intro'|trans %}

{% block content %}
    <div class="process-box">
        <div class="bg-light p-3 p-lg-4">
            <h3 class="text-center font-weight-bold mb-4">
                {{ 'social.invite-intro'|trans }}
            </h3>

            <div class="mb-4 text-center">
                {{ 'social.invite-desc'|trans }}
            </div>

            {% if success %}
                <div class="alert alert-success text-center mb-4">
                    {{ 'social.invite-success'|trans }}
                </div>
            {% endif %}

            {{ form_start(form) }}

            {{ form_errors(form) }}

            <div class="process-block bg-white p-3 p-lg-4 mb-5">
                <div class="mb-3">
                    {{ form_row(form.firstName, {'label': 'social.invite-firstname'}) }}
                </div>

                <div class="mb-3">
                    {{ form_row(form.email, {'label': 'social.invite-email'}) }}
                </div>

                {{ form_row(form.zipCode, {'label': 'social.invite-zipcode', 'help': 'social.invite-zipcode-help'|trans}) }}
            </div>

            <div class="text-center mb-5">
                <button type="submit" class="btn btn-lg btn-primary">
                    {{ 'social.invite-submit-long'|trans }}
                </button>
            </div>

            {{ form_end(form) }}

            <div class="legalities text-center pt-4">
                {{ 'social.invite-data'|trans }}
            </div>
        </div>
    </div>
{% endblock %}
