{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title 'Match' %}
{% block content_footer_wrapper '' %}

{% block main %}
    <div class="p-3">
        {% trans %}admin.requester{% endtrans %}
        <br />
        <strong>{{ requests[0].firstName }} {{ requests[0].lastName }}</strong> ({{ requests[0].zipCode }})
        <br />
        {% trans %}admin.job-type{% endtrans %} {{ requests[0].jobType }}
    </div>

    <div class="p-4">
        <p>
            {% trans with {'type': type == 'groceries' ? 'label.groceries'|trans : 'label.babysitting'|trans|lower, 'given': requests[0].firstName, 'family': requests[0].lastName} %}
                admin.send-link
            {% endtrans %}
        </p>

        <a href="?token={{ csrf_token('admin_confirm') }}" class="btn btn-primary mr-3">
            {% trans %}label.yes-close{% endtrans %}
        </a>
        <a href="{{ path('admin_match', {'ownerUuid': ownerUuid}) }}" class="btn btn-secondary">
            {% trans %}label.no-cancel{% endtrans %}
        </a>
    </div>
{% endblock %}
