{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title 'History' %}
{% block content_footer_wrapper '' %}

{% block main %}
    {% for owner in owners %}
        <div class="p-3">
            <div class="row align-items-center">
                <div class="col-10">
                    {% trans %}admin.requester{% endtrans %} <strong>{{ owner[0].firstName }} {{ owner[0].lastName }}</strong>
                    ({{ owner[0].zipCode }}, {{ owner[0].jobType }}, {{ owner[0].email }})
                    {% if owner[0].ccFirstName %}
                        <br />
                        {% trans %}admin.helped-by{% endtrans %} <strong>{{ owner[0].ccFirstName }} {{ owner[0].ccLastName }}</strong>
                        ({{ owner[0].ccEmail }})
                    {% endif %}

                    <ul class="m-0">
                        {% set babysitDisplayed = false %}
                        {% for need in owner %}
                            {% if need.helpType != 'babysit' or not babysitDisplayed %}
                                {% if need.helpType == 'babysit' %}
                                    {% set babysitDisplayed = true %}
                                {% endif %}

                                <li class="mt-3">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <strong>
                                                {{ need.helpType }}
                                            </strong>
                                            <br />
                                            {% if need.matchedWith %}
                                                matched with
                                                <br />
                                                <strong>
                                                    {{ need.matchedWith.firstName }}
                                                    {{ need.matchedWith.lastName }}
                                                </strong>
                                                ({{ need.matchedWith.email }})
                                            {% endif %}
                                        </div>
                                        <div class="col-2">
                                            <a href="{{ path('admin_match_cancel', {'ownerUuid': owner[0].ownerUuid, 'type': need.helpType}) }}"
                                               class="btn btn-secondary">
                                                {% trans %}admin.cancel-match{% endtrans %}
                                            </a>
                                        </div>
                                        <div class="col-2">
                                            <a href="{{ path('admin_match_cancel', {'ownerUuid': owner[0].ownerUuid, 'type': need.helpType, 'remove': 'request'}) }}"
                                               class="btn btn-secondary">
                                                {% trans %}admin.cancel-and-delete{% endtrans %}
                                            </a>
                                            <a href="{{ path('admin_match_cancel', {'ownerUuid': owner[0].ownerUuid, 'type': need.helpType, 'remove': 'helper'}) }}"
                                               class="btn btn-secondary mt-2">
                                                {% trans %}admin.cancel-and-delete-volunteer{% endtrans %}
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-2 text-center">
                    {{ owner[0].createdAt|date('d/m/Y H:i') }}
                </div>
            </div>
        </div>

        <hr class="m-0" />
    {% endfor %}
{% endblock %}
