{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title 'Matches ('~ (requesters|length) ~' requests)' %}
{% block content_footer_wrapper '' %}

{% block main %}
    {% for ownerUuid, requests in requesters %}
        <div class="p-3">
            <div class="row align-items-center">
                <div class="col-1 text-center">
                    {{ requests[0].zipCode }}
                </div>
                <div class="col-6">
                    Demande de <strong>{{ requests[0].firstName }} {{ requests[0].lastName }}</strong>
                    ({{ requests[0].jobType }})

                    <ul class="m-0">
                        {% for request in requests %}
                            <li>
                                {{ request.helpType }}

                                {% if request.helpType == 'babysit' %}
                                    (age range: {{ request.childAgeRange }})
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-2 text-center">
                    {{ requests[0].createdAt|date('d/m/Y H:i') }}
                </div>
                <div class="col-3">
                    <a href="{{ path('admin_match', {'ownerUuid': ownerUuid}) }}" class="btn btn-secondary">
                        View matching helpers
                    </a>
                </div>
            </div>
        </div>

        <hr class="m-0" />
    {% endfor %}
{% endblock %}
