{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title 'Match' %}
{% block content_footer_wrapper '' %}

{% block main %}
    <div class="p-3">
        Demande de :
        <br />
        <strong>{{ match.requester.firstName }} {{ match.requester.lastName }}</strong> ({{ match.requester.zipCode }})

        {% if match.requester.ccFirstName %}
            <br />
            aidé par <strong>{{ match.requester.ccFirstName }} {{ match.requester.ccLastName }}</strong>
        {% endif %}

        <br />
        Travail : {{ match.requester.jobType }}
        <br />
        Date : {{ match.requester.createdAt|date('d/m/Y H:i') }}
    </div>

    {% if match.groceries is not null %}
        <hr class="m-0" />

        <div class="p-4">
            <div class="row align-items-center mb-5">
                <div class="col-6">
                    <strong>{{ match.requester.firstName }} a besoin qu'on lui achète et livre des courses</strong>
                </div>
                <div class="col-6">
                    <a href="{{ path('admin_match_close', {'type': 'groceries', 'ownerUuid': match.requester.ownerUuid}) }}"
                       class="btn btn-secondary mr-2">
                        Fermer le besoin anonymement
                    </a>
                    <small>Utile si vous avez associé quelqu'un d'autre manuellement</small>
                </div>
            </div>

            <div class="mb-3">
                {{ match.groceries|length }} helpers potentiels proches trouvés pour acheter des courses :
            </div>

            <ul>
                {% for matchedHelper in match.groceries.matchedHelpers[0:20] %}
                    <li class="mb-3">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <strong>{{ matchedHelper.helper.firstName }} {{ matchedHelper.helper.lastName }}</strong>
                                ({{ matchedHelper.helper.zipCode }})
                                <br />
                                Score : {{ matchedHelper.score }}
                                ({{ matchedHelper.helper.canBabysit ? 'peut garder des enfants' : 'ne souhaite pas garder d\'enfants' }})
                                <br />
                                {{ matchedHelper.helper.age }} ans
                            </div>
                            <div class="col-7">
                                <a href="{{ path('admin_match_close', {'type': 'groceries', 'ownerUuid': match.requester.ownerUuid, 'id': matchedHelper.helper.id}) }}"
                                   class="btn btn-secondary mb-2 mr-4">
                                    <i class="fa fa-paper-plane mr-1"></i>
                                    Envoyer la mise en contact et fermer le besoin
                                </a>
                                <a href="{{ path('admin_match_block', {'ownerUuid': match.requester.ownerUuid, 'id': matchedHelper.helper.id}) }}"
                                   class="btn btn-link mb-2">
                                    <i class="fa fa-times mr-1"></i>
                                    Bloquer le match
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if match.babysit is not null %}
        <hr class="m-0" />

        <div class="p-4">
            <div class="row align-items-center mb-5">
                <div class="col-6">
                    <div class="mb-2">
                        <strong>{{ match.requester.firstName }} a besoin qu'on garde {{ match.babysitNeeds|length }} enfant(s)</strong>
                    </div>
                    Ages :
                    {% for need in match.babysitNeeds %}
                        <span class="badge badge-secondary">{{ need.childAgeRange }}</span>
                    {% endfor %}
                </div>
                <div class="col-6">
                    <a href="{{ path('admin_match_close', {'type': 'babysit', 'ownerUuid': match.requester.ownerUuid}) }}"
                       class="btn btn-secondary mr-2">
                        Fermer le besoin anonymement
                    </a>
                    <small>Utile si vous avez associé quelqu'un d'autre manuellement</small>
                </div>
            </div>

            <div class="mb-3">
                {{ match.babysit|length }} helpers potentiels proches trouvés pour garder des enfants.
            </div>

            <ul>
                {% for matchedHelper in match.babysit.matchedHelpers[0:20] %}
                    <li class="mb-4">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <strong>{{ matchedHelper.helper.firstName }} {{ matchedHelper.helper.lastName }}</strong>
                                ({{ matchedHelper.helper.zipCode }})
                                <br />
                                Score : {{ matchedHelper.score }}
                                <br />
                                {{ matchedHelper.helper.age }} ans,
                                {{ matchedHelper.helper.haveChildren ? 'a des enfants' : 'sans enfants' }}
                                <br />
                                Capable de garder {{ matchedHelper.helper.babysitMaxChildren }} enfants
                                <br />
                                Ages acceptés :
                                {% for range in matchedHelper.helper.babysitAgeRanges %}
                                    <span class="badge badge-secondary">{{ range }}</span>
                                {% endfor %}
                            </div>
                            <div class="col-7">
                                <a href="{{ path('admin_match_close', {'type': 'babysit', 'ownerUuid': match.requester.ownerUuid, 'id': matchedHelper.helper.id}) }}"
                                   class="btn btn-secondary mb-2 mr-4">
                                    <i class="fa fa-paper-plane mr-1"></i>
                                    Envoyer la mise en contact et fermer le besoin
                                </a>
                                <a href="{{ path('admin_match_block', {'ownerUuid': match.requester.ownerUuid, 'id': matchedHelper.helper.id}) }}"
                                   class="btn btn-link mb-2">
                                    <i class="fa fa-times mr-1"></i>
                                    Bloquer le match
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
