<footer class="home-footer p-3">
    <div class="mb-3">
        <a href="https://www.facebook.com/En-Premi%C3%A8re-Ligne-102883571348617"
           title="Nous retrouver sur Facebook" target="_blank" rel="noreferrer noopener">{{ include('_icons/facebook.html.twig') }}</a>
        <a href="https://twitter.com/en1ereligne"
           title="Nous retrouver sur Twitter" target="_blank" rel="noreferrer noopener">{{ include('_icons/twitter.html.twig') }}</a>
        <a href="https://github.com/enpremiereligne"
           title="Nous retrouver sur Github" target="_blank" rel="noreferrer noopener">{{ include('_icons/github.html.twig') }}</a>
    </div>
    <div>
        <a href="{{ path('content_why') }}">
            Pourquoi enpremiereligne.fr ?
        </a>
        <a href="{{ path('content_who') }}">
            Qui sommes-nous ?
        </a>
        <a href="{{ path('content_privacy') }}">
            Protection des données
        </a>
        <a href="{{ path('content_conditions') }}">
            Conditions d'utilisation
        </a>
        <a href="{{ path('content_legalities') }}">
            Mentions légales
        </a>
    </div>
</footer>
