<footer class="home-footer p-3">
    <div class="mb-3 home-footer-social">
        {% include '_include/' ~ app.request.locale ~ '/homepage_social.html.twig' %}
        <a href="https://github.com/tgalopin/enpremiereligne.fr"
           title="{% trans %}social.find-github{% endtrans %}" target="_blank" rel="noreferrer noopener">
            {{ include('_icons/github.html.twig') }}</a>
    </div>
    <div>
        <a href="{{ path('content_why') }}">
            {% trans %}footer.why{% endtrans %}</a>
        <a href="{{ path('content_who') }}">
            {% trans %}footer.who{% endtrans %}</a>
        {% if app.request.locale == 'fr_FR' %}
            <a href="{{ path('content_press') }}">Presse</a>
        {% endif %}
        <a href="{{ path('content_international') }}">
            {% trans %}footer.international{% endtrans %}</a>
        <a href="{{ path('content_links') }}">
            {% trans %}footer.information{% endtrans %}</a>
        <a href="{{ path('content_privacy') }}">
            {% trans %}footer.privacy{% endtrans %}</a>
        <a href="{{ path('content_conditions') }}">
            {% trans %}footer.conditions{% endtrans %}</a>
        <a href="{{ path('content_legalities') }}">
            {% trans %}footer.legal{% endtrans %}</a>
    </div>
</footer>
