<p>
    Bonjour {{ requester.firstName|capitalize }}, bonjour {{ helper.firstName|capitalize }},
</p>

<p>
    Bonne nouvelle : nous avons remarqué que vous pouviez peut-être vous entraider !
</p>

<p>
    Vous résidez tous les deux dans la même zone géographique
    (proche du code postal {{ requester.zipCode }}).

    {{ requester.firstName|capitalize }} nous a indiqué avoir besoin de garder {{ needs.babysitNeeds|length }}
    enfant{{ needs.babysitNeeds|length > 1 ? 's' }} de {{ needs.babysitAgesList }},

    et {{ helper.firstName|capitalize }} nous a indiqué être en capacité de garder des enfants de cet âge.
    {{ helper.firstName|capitalize }} a {{ helper.age }} ans{{ helper.haveChildren ? ' et est aussi parent' }}.
</p>

<p>
    A partir de maintenant, c'est à vous de jouer !
</p>

<p>
    Vous êtes tous deux en copie de cet e-mail : prenez contact entre vous pour vous organiser
    et vous assurer que cette entraide est effectivement faisable. Nous vous invitons à
    échanger par téléphone ou par Skype une première fois pour apprendre à vous faire confiance,
    et pour régler les détails logistiques si tout se passe bien. Comme indiqué dans l'article 4
    de nos conditions d'utilisations, les demandeurs et volontaires sont seuls responsables
    des discussions et entraides réalisées et de leurs conséquences.
</p>

<p>
    Nous vous conseillons aussi de vous montrer vos cartes d’identité par visioconférence avant
    de vous rencontrer, ou de vous les montrer sans contact lors de votre première rencontre pour
    vous assurer mutuellement de vos identités.
</p>

<p>
    Depuis le 16 Mars 2020, vous devez possédez une "ATTESTATION DE DÉPLACEMENT DÉROGATOIRE" pour
    vous déplacer. La garde d'enfant correspond à l'exception 4. Vous retrouverez un modèle de
    document à imprimer ou reproduire à la main à l'adresse suivante :
</p>

<p>
    <a href="https://www.gouvernement.fr/sites/default/files/contenu/piece-jointe/2020/03/attestation_de_deplacement_derogatoire.pdf">
        https://www.gouvernement.fr/sites/default/files/contenu/piece-jointe/2020/03/attestation_de_deplacement_derogatoire.pdf
    </a>
</p>

<p>
    Pour la suite des choses avec nous :
</p>

<ul>
    <li>
        Si la mise en relation vous convient, faites-le nous savoir en répondant à cet e-mail
        afin que nous supprimions les données de notre côté. De plus, si cette mise en relation
        vous convient, vous ne pourrez aider que ces personnes afin de limiter les risques
        sanitaires.
    </li>

    <li>
        Si à l'inverse cette mise en relation ne vous convient pas, aucun problème ! Dans ce cas,
        dites-le nous là aussi en répondant à cet e-mail afin de que nous réactivions votre demande
        et votre proposition.
    </li>
</ul>

<p>
    Nous vous invitons de plus à garder en tête que de nombreuses personnes sont porteur-sains
    du virus : si vous acceptez d'aider quelqu'un et d'être aidé, soyez d'autant plus vigilants
    à vos actions quotidiennes, et suivez bien les recommandations sanitaires et gouvernementales
    (<a href="https://www.gouvernement.fr/info-coronavirus">https://www.gouvernement.fr/info-coronavirus</a>).
</p>

<p>
    Rappel des gestes barrières :
</p>

<ul>
    <li>
        Se laver les mains très régulièrement ;
    </li>
    <li>
        Tousser ou éternuer dans son coude ou dans un mouchoir ;
    </li>
    <li>
        Saluer sans se serrer la main, éviter les embrassades;
    </li>
    <li>
        Utiliser des mouchoirs à usage unique et les jeter ;
    </li>
    <li>
        Eviter les rassemblements, limiter les déplacements et les contacts.
    </li>
</ul>

<p>
    Nous vous rappelons qu'En Première Ligne est un réseau d'entraide gratuit.
    C'est en nous soutenant que nous vaincrons le virus ! N'hésitez pas à partager
    à vos proches le lien du site :
</p>

<p>
    https://enpremiereligne.fr
</p>

<p>
    Bon courage pour les prochaines semaines et encore merci pour votre engagement dans la lutte contre le COVID-19.
</p>

<p>
    L'équipe d'En Première Ligne
</p>

<p>
    PS : si notre plateforme vous a aidé(e), n'hésitez pas à nous le dire à
    <a href="mailto:team@enpremiereligne.fr">team@enpremiereligne.fr</a>. Nous sommes à votre disposition !
</p>
