{% extends 'page_base.html.twig' %}

{% block content %}
    <div class="process-box">
        <div class="bg-light p-3 p-lg-4">
            <h3 class="text-center font-weight-bold mb-4">
                Campagnes médias et presse
            </h3>

            <h4>
                Contact
            </h4>

            <p>
                <a href="mailto:team@enpremiereligne.fr">team@enpremiereligne.fr</a>
            </p>

            <h4 class="mt-5">
                Affiches
            </h4>

            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <a href="{{ asset('fr_FR/res/press/baignoire-print.jpg') }}" target="_blank">
                        <img src="{{ asset('fr_FR/res/press/baignoire-thumbnail.jpg') }}" class="img-fluid" />
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <a href="{{ asset('fr_FR/res/press/glace-print.jpg') }}" target="_blank">
                        <img src="{{ asset('fr_FR/res/press/glace-thumbnail.jpg') }}" class="img-fluid" />
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <a href="{{ asset('fr_FR/res/press/mulet-print.jpg') }}" target="_blank">
                        <img src="{{ asset('fr_FR/res/press/mulet-thumbnail.jpg') }}" class="img-fluid" />
                    </a>
                </div>
            </div>

            <h4 class="mt-5 pt-4">
                Spots radios
            </h4>

            <div class="mb-5">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/813612874&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-163624775" title="En Première Ligne" target="_blank" style="color: #cccccc; text-decoration: none;">En Première Ligne</a> · <a href="https://soundcloud.com/user-163624775/mix-radio-aspirateur" title="Mix Radio Aspirateur" target="_blank" style="color: #cccccc; text-decoration: none;">Mix Radio Aspirateur</a></div>
            </div>

            <div class="mb-5">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/813613264&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-163624775" title="En Première Ligne" target="_blank" style="color: #cccccc; text-decoration: none;">En Première Ligne</a> · <a href="https://soundcloud.com/user-163624775/mix-radio-coupe-mulet" title="Mix Radio Coupe Mulet" target="_blank" style="color: #cccccc; text-decoration: none;">Mix Radio Coupe Mulet</a></div>
            </div>

            <div class="mb-5">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/813612205&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-163624775" title="En Première Ligne" target="_blank" style="color: #cccccc; text-decoration: none;">En Première Ligne</a> · <a href="https://soundcloud.com/user-163624775/mix-radio-yogi" title="Mix Radio Yogi" target="_blank" style="color: #cccccc; text-decoration: none;">Mix Radio Yogi</a></div>
            </div>
        </div>
    </div>
{% endblock %}
