{% extends 'page_base.html.twig' %}

{% block metas %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <div class="process-box">
        <div class="bg-light p-3 p-lg-4">
            <h3 class="text-center font-weight-bold mb-4">
                {% trans %}offer.my-offer{% endtrans %}
            </h3>

            <div class="process-details">
                {% if success %}
                    <div class="alert alert-success text-center mb-4">
                        {% trans %}offer.registered{% endtrans %}
                    </div>
                {% endif %}

                <div class="px-2 px-lg-3">
                    <div class="mb-3 text-center">
                        <p>
                            <strong>
                                {% trans %}offer.keep-link{% endtrans %}
                            </strong>
                        </p>
                        {% trans %}offer.delete-any-time{% endtrans %}
                    </div>

                    <div class="process-block bg-white p-3 p-lg-4 mb-4">
                        {% trans with {'when': helper.createdAt|localizeddate('medium', 'short') } %}offer.registration-date{% endtrans %}
                    </div>

                    <div class="process-block bg-white p-3 p-lg-4 mb-4">
                        <p>
                            {% trans %}offer.told-us{% endtrans %}
                        </p>

                        <ul>
                            <li>
                                {% if helper.canBuyGroceries or helper.acceptVulnerable %}
                                    {% trans %}offer.able-to-shop{% endtrans %}
                                {% else %}
                                    {% trans %}offer.not-able-to-shop{% endtrans %}
                                {% endif %}
                            </li>
                            <li>
                                {% if helper.canBabysit %}
                                    {% trans with {'max': helper.babysitMaxChildren } %}offer.able-to-babysit{% endtrans %}
                                {% else %}
                                    {% trans %}offer.not-able-to-babysit{% endtrans %}
                                {% endif %}
                            </li>
                        </ul>
                    </div>

                    <div class="process-block bg-white p-3 p-lg-4 mb-4">
                        <div class="text-muted text-uppercase">
                            <div class="mb-3">
                                {% trans %}social.share-initiative{% endtrans %}
                            </div>

                            <div class="process-share text-center">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('homepage')|url_encode }}"
                                   title="{% trans %}social.share-facebook{% endtrans %}" target="_blank" rel="noreferrer noopener">
                                    {{ include('_icons/facebook.html.twig') }}
                                </a>
                                <a href="https://twitter.com/intent/tweet?text={{ url('homepage') }}"
                                   title="{% trans %}social.share-twitter{% endtrans %}" target="_blank" rel="noreferrer noopener">
                                    {{ include('_icons/twitter.html.twig') }}
                                </a>
                                <a href="https://telegram.me/share/url?url={{ url('homepage') }}"
                                   title="{% trans %}social.share-telegram{% endtrans %}" target="_blank" rel="noreferrer noopener">
                                    {{ include('_icons/telegram.html.twig') }}
                                </a>
                                <a href="https://wa.me/?text={{ url('homepage') }}"
                                   title="{% trans %}social.share-whatsapp{% endtrans %}" target="_blank" rel="noreferrer noopener">
                                    {{ include('_icons/whatsapp.html.twig') }}
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="text-center mt-5">
                        <a href="{{ path('process_helper_delete_confirm', {'uuid': helper.uuid}) }}"
                           class="btn btn-primary btn-lg">
                            {% trans %}offer.remove{% endtrans %}
                        </a>

                        <div class="mt-3">
                            <strong class="text-muted">
                                Pour mettre à jour votre proposition, supprimez-la
                                puis enregistrez une nouvelle proposition.
                                <br />
                                Vous ne pouvez avoir qu'une seule proposition à la fois.
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
