{% extends 'page_base.html.twig' %}

{% block title 'Demander de l\'aide | En première ligne' %}

{% block content %}
    <div class="process-box">
        <div class="bg-light p-3 p-lg-4">
            <h3 class="text-center font-weight-bold mb-4">
                Demander de l'aide pour faire les courses
            </h3>

            <div class="process-details mb-4 pb-3">
                <p>
                    Vous ou un de vos proches, de par l'âge, les antécédents médicaux ou les
                    difficultés à se déplacer, a besoin d'aide pour faire les courses et faire face à l'épidémie ?
                </p>

                <p>
                    Remplissez le formulaire ci-dessous pour vous enregistrer en tant que personne ayant besoin
                    d'aide ou pour enregistrer l'un de vos procheS
                </p>

                <p>
                    Si quelqu'un près de chez vous, ou de chez votre proche, peut aider pour faire
                    vos courses à votre place, nous vous mettrons en relation par e-mail pour que
                    vous puissiez échanger et régler les détails logistiques.
                </p>

                <a href="{{ path('content_how') }}">
                    En savoir plus sur le fonctionnement de la plateforme
                </a>
            </div>

            {{ form_start(form) }}

            {{ form_errors(form) }}

            <div class="process-block bg-white p-3 p-lg-4 mb-4">
                {{ form_row(form.isCloseOne, {
                    'label': 'Je suis un proche entrant les informations pour quelqu\'un d\'autre que moi',
                    'label_attr': { 'class': 'checkbox-custom' },
                    'help': 'Assurez-vous bien du consentement de la personne dont vous entrez les informations pour utiliser En Première Ligne.'
                }) }}

                <div class="mt-3" style="display: none" id="field-other">
                    <div class="row">
                        <div class="col-12 col-lg-6 mb-3">
                            {{ form_row(form.ccFirstName, {'label': 'Votre prénom à vous (requis)'}) }}
                        </div>
                        <div class="col-12 col-lg-6 mb-3">
                            {{ form_row(form.ccLastName, {'label': 'Votre nom à vous (requis)'}) }}
                        </div>
                    </div>

                    {{ form_row(form.ccEmail, {'label': 'Votre e-mail à vous (requis)'}) }}
                </div>
            </div>

            <div class="process-block bg-white p-3 p-lg-4 mb-4">
                <div class="row">
                    <div class="col-12 col-lg-6 mb-3" id="field-firstname">
                        {{ form_row(form.firstName, {'label': 'Votre prénom (requis)'}) }}
                    </div>
                    <div class="col-12 col-lg-6 mb-3" id="field-lastname">
                        {{ form_row(form.lastName, {'label': 'Votre nom (requis)'}) }}
                    </div>
                </div>

                <div class="mb-3" id="field-zipcode">
                    {{ form_row(form.zipCode, {
                        'label': 'Votre code postal (français uniquement, requis)',
                        'help': 'Utilisé pour trouver des personnes proches. Nous ne travaillons que sur le territoire français pour le moment.'
                    }) }}
                </div>

                <div id="field-email">
                    {{ form_row(form.email, {'label': 'Votre adresse e-mail (requis)', 'help': 'Utilisé pour vous mettre en relation.'}) }}
                </div>
            </div>

            <div class="process-block bg-white p-3 p-lg-4 mb-5">
                {{ form_row(form.confirm, {
                    'label': 'J\'ai lu et j\'accepte la Politique de confidentialité et les Conditions d\'utilisation d\'enpremiereligne.fr',
                    'label_attr': { 'class': 'checkbox-custom' },
                    'help': 'Il est notamment très important que vous soyez vigilants à bien suivre les recommandations sanitaires à tout moment.'
                }) }}
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-lg btn-primary">
                    Envoyer ma demande
                </button>

                <div class="mt-3">
                    <strong class="text-muted">
                        Vous pourrez revenir à tout moment sur votre demande.
                    </strong>
                </div>
            </div>

            {{ form_end(form) }}

            <div class="legalities pt-5">
                Vous disposez d'un droit d'accès, de rectification, d’effacement et de portabilité
                de vos données ainsi que d’un droit d'opposition et d'un droit de limitation du
                traitement des données vous concernant. Vous pouvez exercer vos droits en nous
                contactant à l'adresse suivante :
                <a href="mailto:titouan@enpremiereligne.fr">titouan@enpremiereligne.fr</a>.
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('request-vulnerable') }}
{% endblock %}
