{% extends 'page_base.html.twig' %}

{% block metas %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <div class="process-box">
        <div class="bg-light p-3 p-lg-4">
            <h3 class="text-center font-weight-bold mb-4">
                {% trans %}request.my-request{% endtrans %}
            </h3>

            <div class="process-details">
                {% if success %}
                    <div class="alert alert-success text-center mb-4">
                        {% trans %}request.registered{% endtrans %}
                    </div>
                {% endif %}

                <div class="px-2 px-lg-3">
                    <div class="mb-3 text-center">
                        <p>
                            <strong>
                                {% trans %}request.keep-link{% endtrans %}
                            </strong>
                        </p>

                        {% trans %}request.delete-any-time{% endtrans %}
                    </div>

                    <div class="process-block bg-white p-3 p-lg-4 mb-4">
                        {% trans with {'when': needs[0].createdAt|localizeddate('medium', 'short') } %}request.registration-date{% endtrans %}
                    </div>

                    <div class="process-block bg-white p-3 p-lg-4 mb-4">
                        <p>
                            {% trans %}request.details{% endtrans %}
                        </p>

                        <p>
                            {% trans %}request.told-us{% endtrans %}
                        </p>

                        {% set ageRanges = {
                            '0-1': 'label.age-0-1',
                            '1-2': 'label.age-1-2',
                            '3-5': 'label.age-3-5',
                            '6-9': 'label.age-6-9',
                            '10-12': 'label.age-10-12',
                            '13-': 'label.13-and-over',
                        } %}

                        <ul>
                            {% for need in needs %}
                                <li>
                                    {% if need.helpType == 'groceries' %}
                                        {% trans %}request.shop{% endtrans %}
                                    {% elseif need.helpType == 'babysit' %}
                                        {% trans with {'age': ageRanges[need.childAgeRange]|trans } %}request.babysit{% endtrans %}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="process-block bg-white p-3 p-lg-4 mb-4">
                        <div class="text-muted text-uppercase">
                            <div class="mb-3">
                                {% trans %}social.share-initiative{% endtrans %}
                            </div>

                            <div class="process-share text-center">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('homepage')|url_encode }}"
                                   title="{% trans %}social.share-facebook{% endtrans %}" target="_blank" rel="noreferrer noopener">
                                    {{ include('_icons/facebook.html.twig') }}
                                </a>
                                <a href="https://twitter.com/intent/tweet?text={{ url('homepage') }}"
                                   title="{% trans %}social.share-twitter{% endtrans %}" target="_blank" rel="noreferrer noopener">
                                    {{ include('_icons/twitter.html.twig') }}
                                </a>
                                <a href="https://telegram.me/share/url?url={{ url('homepage') }}"
                                   title="{% trans %}social.share-telegram{% endtrans %}" target="_blank" rel="noreferrer noopener">
                                    {{ include('_icons/telegram.html.twig') }}
                                </a>
                                <a href="https://wa.me/?text={{ url('homepage') }}"
                                   title="{% trans %}social.share-whatsapp{% endtrans %}" target="_blank" rel="noreferrer noopener">
                                    {{ include('_icons/whatsapp.html.twig') }}
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="text-center mt-5">
                        <a href="{{ path('process_requester_delete_confirm', {'ownerUuid': needs[0].ownerUuid}) }}"
                           class="btn btn-primary btn-lg">
                            {% trans %}request.remove{% endtrans %}
                        </a>

                        <div class="mt-3">
                            <strong class="text-muted">
                                {% trans %}request.delete-to-update{% endtrans %}
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
